*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
# *.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json


# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

## Pytorch data savings
*-ubyte

## Don't save equinox models
*.eqx
# *.log
*.out
*.pkl

## Cprofile
examples/runs/cprofile/*

## Ignore all "checkpoint" folders
**/checkpoints/*

## Data, Runs
runs/*
data/*

!data/dynamics/
!data/dynamics/lotka/
!data/dynamics/lotka/datagen.py
data/dynamics/lotka/test.npz
data/dynamics/lotka/train.npz
!data/dynamics/mass-spring-damper/
!data/dynamics/mass-spring-damper/datagen.py
data/dynamics/mass-spring-damper/test.npy
data/dynamics/mass-spring-damper/train.npy
data/dynamics/lorentz-63/full.pt
data/dynamics/lorentz-63/noisy.pt

## Ignore all MSD files
**/mass-spring-damper-2/*.npy

## Ignore all electricity files
**/h1/*.npy
**/h1/old/*.npy
**/h1/normalized/*.npy
**/h2/*.npy
**/m1/*.npy
**/m2/*.npy

## Ignore sine files
**/sine/*.npy
**/sine/*/*.npy

## Ignore all lorentz files
**/lorentz-63/*.npy

## Ignore all cheetah files
**/cheetah/*.npy
**/cheetah/raw
**/cheetah/old

!data/README.md
!runs/README.md

# !runs/250406-170108-PetaGenius*
!runs/250407-093730-CelebAGenius*
!runs/250412-193707-MSD-MegaGenius*
!runs/250420-173207-Lotka-MegaGenius*
!runs/250421-075708-MNIST-SuperGenius*
